*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background: #121921;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    height: 100%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first img{
    height: 50px;
    width: 6.5vw;
}
.second{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
p{
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    opacity: .7;
}
.third{
    background: #fff;
    border-radius: 3px;
}
.third #all{
    height: 40px;
    width: 70px;
    background: #f2f1ff;
    border: none;
    font-size: 14px;
}
.third input{
    height: 40px;
    width: 580px;
    border: none;
    background: #fff;
    padding-left: 20px;
    color: #121921;
    outline: none;

}
.third #search{
    height: 40px;
    width: 70px;
    background: #febb69;
    border: none;
    font-size: 16px;
}
.fourth img{
    height: 10px;
    width: auto;
}
    

.fourth{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.fifth{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.six{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.seventh{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.bi-cart2{
    font-size: 28px;
    color: #fff;
}
.bi-caret-down-fill{
    font-size: 12px;
    opacity: .7;
    color: #fff;
}
#all .bi-caret-down-fill{
    color: #121921;
    opacity: .7;
    font-size: 12px;
}
